
<section>
  <div class="space no-space dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-placeholder"></i>
            <div class="serviz-meta">
              <span>Tunis,lac 2</span>
              <i>Tunis</i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-24-hours-1"></i>
            <div class="serviz-meta">
              <span>Numéro vert  24/7</span>
              <i>+216 21756498</i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-24-hours"></i>
            <div class="serviz-meta">
              <span>Prestations à temps plein</span>
              <i>24/7</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- footer top -->

<footer class="light">
  <div class="mockup-right">
    <img src="images/resources/footer-mockup.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="widget">
          <a href="index.html" title=""><img src="assets/images/Logoway2go.png" alt=""></a>
          <p>
            Le trio a pris cette idée simple et l'a transformée en la principale plateforme de covoiturage au monde, reliant des millions de personnes se déplaçant dans la même direction.          </p>
          <ul class="social">
            <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>Liens utiles
          </h4></div>
          <ul class="list-style">
            <li><a href="#" title="">Location</a></li>
            <li><a href="#" title="">Soumettre l'itinéraire</a></li>
            <li><a href="#" title="">Comment ça marche?</a></li>
            <li><a href="#" title="">listes d'agents</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>lettre d'information hebdomadaire</h4></div>
          <div class="news-letter">
            <p>Nous pouvons vous envoyer des informations sur des événements, des webinaires, des produits et des services connexes que nous croyons.</p>
            <form method="post">
              <input type="text" placeholder="Enter your email address">
              <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>télécharger des applications</h4></div>
          <ul class="colla-apps">
            <li><a href="#" title=""><i class="flaticon-android"></i> android</a></li>
            <li><a href="#" title=""><i class="flaticon-apple"></i> iPhone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© 2023. All rights reserved.way2go</span>
          <i><img src="images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div>
</footer><!-- footer -->
