body {
    background: linear-gradient(to right, #e2ebf1, #FFFFFF);
    font-family: 'Roboto', sans-serif;
}

.box1{background-color: #e2ebf1;color: white}
.card-header{background: none}
.box1{height: 483px}
.box2{height: 483px}.heading{font-weight: 900; text-align: inherit;}
.heading2{padding-left: 40px}.box2-head{font-weight: 900;background: none;border: none}
.card-header{margin-top: 50px;padding-left: 19px}.sub-heading{font-weight: 900;font-size: 14px}
.sub-heading2{border: 1px solid white;padding-top: 10px;padding-bottom: 10px}
.sub-heading1{background-color: #abbfff;color: #263238;padding-top: 10px;padding-bottom: 10px}
.credit{position: absolute;left: 8vw}
.frnt{z-index: 2;position: absolute}
.back{position: absolute;z-index: 1;left: 70px;top: 30px}
.form-group>input{border: none;border-bottom: 6px solid #86ccf7;
    height: 38px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    color: #37434e;
    background-color: #e2ebf1;
    border-radius: 16px;
    box-shadow: 3px;
    transition: box-shadow 200ms ease-out 0s;
    font-family: cursive;


}
.card-number>input{border: none}.card-number{border-bottom: 1px solid lightgray}
.card-number>input::-webkit-input-placeholder{color: peachpuff;font-size: 25px}
.card-number>input::-moz-placeholder{color: peachpuff;font-size: 25px}
.card-number>input:-ms-input-placeholder{color: peachpuff;font-size: 25px}
.card-number>input::placeholder{color: peachpuff;font-size: 25px}
input.focus, input:focus{outline: 0;box-shadow: none !important}
.card-number.hover, .card-number:hover{outline: 0;box-shadow: none !important;border-bottom: 1px solid lightskyblue}
select.focus, select:focus{outline: 0;box-shadow: none !important}
.form-control{border: none;border-bottom: 1px solid lightgray}
.txt{justify-content: space-between}.txt>p>small{font-weight: 400;font-size:112%;}.total{justify-content: space-between}
.btn{height: 42px;background-color: #00B8D4;color: white; margin-left:25pc;}
.footer2{background: none}.btn.focus, .btn:focus{outline: 0;box-shadow: none !important}@media (min-width: 1025px) and (max-width: 1280px){
    .inner{margin-left: 150px}}

.label{
    font-family:cursive;
}