<div class="sub-head blackish ext-low-opacity">
  <div class="bg-image" style="background-image: url(images/resources/subhead-bg.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cola-head">
          <div class="head-meta">
            <h4>Mercedes Benz GLA-Class</h4>
            <p>( 24 months )</p>
          </div>

          <div class="info-links">
            <a href="#" title="">how does this work</a>
            <a href="#" title="">submit your car</a>
            <span><i class="fa fa-phone"></i>call (012) 345 - 6789</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- subhead -->

<section>
  <div class="space">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="leasing-car">
            <div class="row">
              <div class="col-lg-6 col-md-7">
                <div class="cola-form">
                  <h5>Options:</h5>
                  <form method="post">
                    <label>Kilometers included:</label>
                    <select>
                      <option>10,000 km / year - $0 / month</option>
                      <option>15,000 km / year - $10 / month</option>
                      <option>20,000 km / year - $20 / month</option>
                    </select>
                  </form>
                  <h5>Personal data:</h5>
                  <form method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <label>first Name:</label>
                        <input type="text">
                      </div>
                      <div class="col-md-6">
                        <label>last Name:</label>
                        <input type="text">
                      </div>
                      <div class="col-md-12">
                        <label>email address:</label>
                        <input type="text">
                        <i>You will get all the information to this email address.</i>
                      </div>
                      <div class="col-md-12">
                        <label>address:</label>
                        <input type="text">
                      </div>
                      <div class="col-md-6">
                        <label>Postal code:</label>
                        <input type="text">
                      </div>
                      <div class="col-md-6">
                        <label>City:</label>
                        <select>
                          <option>select</option>
                          <option>london</option>
                          <option>galaxco</option>
                          <option>local city</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label>Phone</label>
                        <select>
                          <option>+44</option>
                          <option>+22</option>
                          <option>+54</option>
                          <option>+1</option>
                        </select>
                      </div>
                      <div class="col-md-8">
                        <label></label>
                        <input type="text">
                      </div>
                      <div class="col-md-4">
                        <label>Date of birth:</label>
                        <select>
                          <option>day</option>
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label></label>
                        <select>
                          <option>Month</option>
                          <option>Jan</option>
                          <option>Feb</option>
                          <option>March</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label></label>
                        <select>
                          <option>year</option>
                          <option>2001</option>
                          <option>2002</option>
                          <option>2003</option>
                        </select>
                      </div>
                      <div class="col-md-12">
                        <label>ID card number:</label>
                        <input type="text">
                      </div>
                      <div class="col-md-12">
                        <label>Do you have a promotion code? (optional)</label>
                        <input type="text">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="offset-lg-1 col-lg-5 col-md-5">
                <div class="request">
                  <figure>
                    <img src="images/resources/car.png" alt="">
                  </figure>
                  <div class="request-box">
                    <span><i>car</i><em>Mercedes Benz GLA-Class</em></span>
                    <span><i>Per month:</i> <ins>$299</ins></span>
                    <a href="#" title="" class="theme-btn">+ send the request</a>
                    <p>Offer subject to availability.</p>
                  </div>
                  <ul class="contact-links">
                    <li><i class="fa fa-long-arrow-right"></i>Any question? Check our <a href="#" title="">FAQs</a> page.</li>
                    <li><i class="fa fa-long-arrow-right"></i>Email us at <a href="#" title="">Car <span class="__cf_email__" data-cfemail="064367757246656968726765722865696b">[email&#160;protected]</span></a></li>
                    <li><i class="fa fa-long-arrow-right"></i>Call us at (012) 345 - 6789</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basic Details</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description" required>
        </textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Amount & Stock</ng-template>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" formControlName="amount" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput placeholder="Stock" formControlName="stock" required>
      </mat-form-field>
      <br/>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>

    <mat-list>
      <mat-list-item> <strong>Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
      <mat-list-item> <strong>Description:</strong> {{ this.firstFormGroup.value.description }}</mat-list-item>
      <mat-list-item> <strong>Amount:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item>
      <mat-list-item> <strong>Stock:</strong> {{ this.secondFormGroup.value.stock }}</mat-list-item>
    </mat-list>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
