


  <div class="tj-wrapper">







    <div class="container">
      <!--Tabs Nav Start-->

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="tab-content" style="display: flex;">
            <!--Login Tabs Content Start-->
            <div class="tab-pane active">


              <div class="col-lg-6 mx-auto">


                <img src='../../assets/images/240_F_168135907_VKzCjw1Ml38EqVUMjbHHpIlfVpOb1wLN.jpg' style="margin-left: 5%" width="362" height="385"  >



                <h4 style="color: navy" ><span class="des-title">Vous êtes un </span> Conducteur </h4>

            <p class="description-box">Économique et convivial : partagez vos frais en prenant des passagers sympas lors de vos longs trajets en voiture.</p>

                <div class="ride-conducteur-buttom">
                  <a href="registerconducteur"  > Inscrivez-vous  <i aria-hidden="true"></i></a>

                </div>

                <br><br>
              </div>
            </div>

            <!--Login Tabs Content Start-->
            <div class="tab-pane active" id="login">

              <div class="col-lg-6 mx-auto">

                <img src='../../assets/images/capture%20d’écran.png'  width="362" height="385"  >

                <h4 style="color: #337ab7" > <span class="des-title" >Vous êtes un </span>Passager </h4>



                  <p >Simple et économique :réservez facilement votre place en ligne et voyagez moins cher, en toute confiance. Même en dernière minute !</p>
               
                </div>


              </div>


            </div> </div>
      </div>
    </div>



  </div>
